{% extends 'base.html' %}

{% block body_class %}home{% endblock %}

{% block content %}
<div class="slider" id="homepage-slider">
    <img src="http://placekitten.com/690/210" />
</div>
<h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
<div class="two-column">
    <div class="column">
        <p>Proin ante dui, lacinia blandit vestibulum ac, vehicula vitae neque. In vitae purus vel lorem lacinia faucibus in in dolor. Mauris aliquam aliquam dolor nec posuere. Duis sit amet accumsan tortor. Nam bibendum molestie felis a tempor. Sed ac est enim. Praesent porttitor tempus lorem, quis porttitor mi adipiscing ac. Vivamus commodo hendrerit augue, ac laoreet orci rutrum at. Vivamus eget lorem mi, posuere rutrum neque. Aliquam erat volutpat. Praesent mattis adipiscing risus vitae laoreet. Nulla facilisi. Sed lacinia leo in odio viverra vel feugiat lacus ornare. Quisque feugiat malesuada ipsum ac <a href="#">facilisis.</a></p>
    </div>
    <div class="column second">
        <p>Proin ante dui, lacinia blandit vestibulum ac, vehicula vitae neque. In vitae purus vel lorem lacinia faucibus in in dolor. Mauris aliquam aliquam dolor nec posuere. Duis sit amet accumsan tortor. Nam bibendum molestie felis a tempor. Sed ac est enim. Praesent porttitor tempus lorem, quis porttitor mi adipiscing ac. Vivamus commodo hendrerit augue, ac laoreet orci rutrum at. Vivamus eget lorem mi, posuere rutrum neque. Aliquam erat volutpat. Praesent mattis adipiscing risus vitae laoreet. Nulla facilisi. Sed lacinia leo in odio viverra vel feugiat lacus ornare. Quisque feugiat malesuada ipsum ac <a href="#">facilisis.</a></p>
    </div>
</div>
    
<div class="clearfix"></div>
    
<div class="divider"></div>
{% endblock %}