{% extends 'base.html' %}

{% block body_class %}about{% endblock %}

{% block content %}
<img src="/img/morning.jpg" />

<p>Cincinnati is a city well-known for being the stomping grounds of some of the nations biggest brands and several major universities, but also has a growing group of locals with an intense love of their hometown who are flocking to the core in an effort to invent their city. These are also just a few reasons why startups can flourish in Cincinnati, and more are emerging everyday.</p>

<p>The proof can be found in the numbers, so it’s no wonder that The Brandery, located on Vine St. in the heart of Over-the-Rhine, is ranked as a <strong>top ten</strong> seed-stage accelerator in the nation. CincyTech, a major funder for seed-stage companies has invested more than <strong>11 million dollars</strong> into <strong>32 portfolio companies</strong> with the goal of keeping businesses in Southwest Ohio. The Startup Bus stopped in only <strong>11 cities</strong> this year – including Cincinnati – to pick up our best developers, designers and marketers, sending them speeding down to SXSWi, with the goal of launching their own startup in <strong>72 hours</strong>. As for the future – <strong>three of the top 25</strong> entrepreneurship programs in the country call Cincinnati home, so there’s sure to be no shortage of talent.</p>

<p>With a movement happening as fast and furious as this, Startup Cincy aims to be a resource for all things startup related in Cincinnati.</p>
{% endblock %}