<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{% block page_title %}Connecting Startups in the Ohio Valley | Startup Cincy{% endblock %}</title>
    
    <meta name="description" content="{% block meta_description %}{% endblock %}" />
    <meta name="author" content="{% block meta_author %}{% endblock %}" />

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
    <script type="text/javascript" src="/js/bootstrap-carousel.js"></script>

    <link rel="shortcut icon" href="/img/favicon.ico" />

    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="/stylesheets/responsive.css" />
</head>

<body class="{% block body_class %}{% endblock %}">
    
    <div class="header">
        <div class="container">
            <div class="row">  
                <div class="span10 offset1 headerbody">
                    <div class="logo">
                        <a href="/"><img src="/img/logo-v1.jpg" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="navigation">
        <div class="container">
            <div class="row">
                <div class="span10 offset1 navlinks">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/startups">Companies</a></li>
                        <li><a href="/events">Events</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="span10 offset1 main" role="main">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="span12 footer-content">
                    <div class="social">
                        <a href="http://facebook.com/startupcincy" class="sm-icon facebook">&nbsp;</a>
                        <a href="http://twitter.com/startupcincy" class="sm-icon twitter">&nbsp;</a>
                        <div class="clearfix"></div>
                    </div>
                    <p>&copy;2012 StartupCincy.com</p>
                </div>
            </div>
        </div>
    </div>

    {% block javascript %}{% endblock %}

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-21590596-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

</script>

</body>
</html>