<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{% block page_title %}Connecting Startups in the Ohio Valley | Startup Cincy{% endblock %}</title>
    
    <meta name="description" content="{% block meta_description %}{% endblock %}" />
    <meta name="author" content="{% block meta_author %}{% endblock %}" />

    <link rel="stylesheet" href="./stylesheets/bootstrap.css" /> 
</head>

<body class="{% block body_class %}{% endblock %}">
    <div class="container">
        <div class="row">
            
            <div class="span10 offset1 header">
                <div class="logo">
                    <a href="/"><img src="{{ STATIC_URL }}images/logo-v1.jpg" /></a>
                </div>
            </div>

        </div>
    </div>

    <div class="container navbar">
        <div class="row">
            <div class="span10 offset1 navlinks">
                <ul>
                    <li><a href="/about">About</a></li>
                    <li><a href="/startups">Companies</a></li>
                    <li><a href="/events">Events</a></li>
                    <li><a href="/jobs">Jobs</a></li>
                </ul>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="span10 offset1 main" role="main">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    <div class="container footer">
        <div class="row">
            <div class="span10 offset1">
                <div class="footer-content">
                    <div class="social">
                        <a href="http://facebook.com/startupcincy" class="sm-icon facebook">&nbsp;</a>
                        <a href="http://twitter.com/startupcincy" class="sm-icon twitter">&nbsp;</a>
                        <div class="clearfix"></div>
                    </div>
                    <p>&copy;2012 StartupCincy.com</p>
                </div>
            </div>

        </div>
    </div>

    {% block javascript %}{% endblock %}

    <script>
    window._gaq = [['_setAccount','UA-21590596-1'],['_trackPageview'],['_trackPageLoadTime']];
    Modernizr.load({
      load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
    });
    </script>

</body>
</html>