<html lang="en">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>
      StartupCincy
    </title>
	<style type="text/css">
	a:hover { text-decoration: none !important; }
	.header h1 {color: #ede6cb !important; font: normal 24px Georgia, serif; margin: 0; padding: 0; line-height: 28px;}
	.header p {color: #645847; font: bold 11px Georgia, serif; margin: 0; padding: 0; line-height: 12px; text-transform: uppercase;}
	.content h2 {color:#393023 !important; font-weight: bold; margin: 0; padding: 0; line-height: 30px; font-size: 17px;font-family: Helvetica, Arial, sans-serif; }
	.content p {color:#767676; font-weight: normal; margin: 0; padding: 0; line-height: 20px; font-size: 12px; font-family: Helvetica, Arial, sans-serif;}
	.content a {color: #0fa2e6; text-decoration: none;}
	.footer p {font-size: 11px; color:#bfbfbf; margin: 0; padding: 0;font-family: Helvetica, Arial, sans-serif;}
	.footer a {color: #0fa2e6; text-decoration: none;}
	</style>
  </head>
  <body style="margin: 0; padding: 0; background: #ffffff;" bgcolor="#ffffff">
  	<table cellpadding="0" cellspacing="0" border="0" align="center" width="100%" style="background: #ffffff; padding: 85px 0 35px">
		  <tr>
		  	<td align="center">
			    <table cellpadding="0" cellspacing="0" border="0" align="center" width="599" style="font-family: Georgia, serif; background: #ffffff" height="142">
			      <tr>
			        <td style="margin: 0; padding: 10px 0 0; background: #ffffff" align="center" valign="top">
						<img src="{{ STATIC_URL }}images/logo-v1.jpg" alt="StartupCincy" />
				    </td>
			      </tr>
				  <tr>
					  <td style="font-size: 1px; height: 15px; line-height: 1px;" height="15">&nbsp;</td>
				  </tr>	
				</table><!-- header-->
				<table cellpadding="0" cellspacing="0" border="0" align="center" width="599" style="font-family: Georgia, serif;" >
			      <tr>
			        <td width="599" valign="top" align="left" bgcolor="#ffffff"style="font-family: Georgia, serif; background: #fff; border-top: 5px solid #ededed">
						<table cellpadding="0" cellspacing="0" border="0"  style="color: #717171; font: normal 11px Georgia, serif; margin: 0; padding: 0;" width="599">
						<tr>
							<td width="15" style="font-size: 1px; line-height: 1px; width: 15px;"><img src="{{ STATIC_URL }}images/email/spacer.gif" alt="space" width="15"></td>
							<td style="padding: 15px 0 5px; font-family: Georgia, serif;" valign="top" align="center" width="569">
								<h3 style="color:#ed1c24; font-weight: bold; text-transform: uppercase; margin: 0; padding: 0; line-height: 22px; font-size: 10px;">Monday, April 31, 2012</h3>
							</td>
							<td width="15" style="font-size: 1px; line-height: 1px; width: 15px;"><img src="{{ STATIC_URL }}images/email/spacer.gif" alt="space" width="15"></td>
						</tr>
						<tr>
							<td width="15" style="font-size: 1px; line-height: 1px; width: 15px;"><img src="{{ STATIC_URL }}images/email/spacer.gif" alt="space" width="15"></td>
							<td style="padding: 10px 0 0; font-family: Helvetica, Arial, sans-serif;" align="left">			
								<h2 style="color:#393023 !important; font-weight: bold; margin: 0; padding: 0; line-height: 30px; font-size: 17px;font-family: Helvetica, Arial, sans-serif;">Meet Jack — a brown cow.</h2>
								<p style="color:#767676; font-weight: normal; margin: 0; padding: 0; line-height: 20px; font-size: 12px;">
									Suspendisse potenti--Fusce eu ante in sapien vestibulum sagittis. Cras purus. Nunc rhoncus. <a href="#" style="color: #0fa2e6; text-decoration: none;">Donec imperdiet</a>, nibh sit amet pharetra placerat, tortor purus condimentum lectus.
								</p>
							</td>
							<td width="15" style="font-size: 1px; line-height: 1px; width: 15px;"><img src="{{ STATIC_URL }}images/email/spacer.gif" alt="space" width="15"></td>
						</tr>
						<tr>
							<td width="15" style="font-size: 1px; line-height: 1px; width: 15px;"><img src="{{ STATIC_URL }}images/email/spacer.gif" alt="space" width="15"></td>
							<td style="padding: 10px 0 0; font-family: Helvetica, Arial, sans-serif;" align="left">		
								<img src="{{ STATIC_URL }}images/email/img.jpg" alt="Cow" style="border: 5px solid #f7f7f4;">
							</td>
						</tr>
						<tr>
							<td width="15" style="font-size: 1px; line-height: 1px; width: 15px;"><img src="{{ STATIC_URL }}images/email/spacer.gif" alt="space" width="15"></td>
							<td style="padding: 10px 0 0; font-family: Helvetica, Arial, sans-serif;" align="left">			
								<p style="color:#767676; font-weight: normal; margin: 0; padding: 0; line-height: 20px; font-size: 12px;">
									Suspendisse potenti--Fusce eu <a href="#" style="color: #0fa2e6; text-decoration: none;">ante in sapien</a> vestibulum sagittis.
								</p>
							</td>
						</tr>
						<tr>
							<td width="15" style="font-size: 1px; line-height: 1px; width: 15px;"><img src="{{ STATIC_URL }}images/email/spacer.gif" alt="space" width="15"></td>
							<td style="padding: 10px 0 0; font-family: Helvetica, Arial, sans-serif;" align="left">
								<img src="{{ STATIC_URL }}images/email/divider_full.png" alt="divider">
							</td>
							<td width="15" style="font-size: 1px; line-height: 1px; width: 15px;"><img src="{{ STATIC_URL }}images/email/spacer.gif" alt="space" width="15"></td>
						</tr>
						<tr>
							<td width="15" style="font-size: 1px; line-height: 1px; width: 15px;"><img src="{{ STATIC_URL }}images/email/spacer.gif" alt="space" width="15"></td>
							<td style="padding: 10px 0 55px; font-family: Helvetica, Arial, sans-serif;" align="left">			
								<h2 style="color:#393023 !important; font-weight: bold; margin: 0; padding: 0; line-height: 30px; font-size: 17px;font-family: Helvetica, Arial, sans-serif;">Cookies feels more valuable now 
								than before</h2>
								<p style="color:#767676; font-weight: normal; margin: 0; padding: 0; line-height: 20px; font-size: 12px;">
									Suspendisse potenti--Fusce eu ante in sapien vestibulum sagittis. Cras purus. Nunc rhoncus. Donec imperdiet, nibh sit amet pharetra placerat, tortor purus condimentum lectus. Says Doctor Lichtenstein in an interview done after last nights press conference in Belgium.
									<a href="#" style="color: #0fa2e6; text-decoration: none;">Dr. Lichtenstein</a> also states his concerns regarding chocolate now suddenly turning yellow the last couple of years. 
								</p>
							</td>
						</tr>  
						</table>	
					</td>
			      </tr>
				 <tr>
					  <td style="font-size: 1px; height: 10px; line-height: 1px;" height="10"><img src="{{ STATIC_URL }}images/email/spacer.gif" alt="space" width="15"></td>
				  </tr>
				</table><!-- body -->
				<table cellpadding="0" cellspacing="0" border="0" align="center" width="599" style="font-family: Georgia, serif; line-height: 10px;" bgcolor="#464646" class="footer">
			      <tr>
			        <td bgcolor="#464646"  align="center" style="padding: 15px 0 10px; font-size: 11px; color:#bfbfbf; margin: 0; line-height: 1.2;font-family: Helvetica, Arial, sans-serif;" valign="top">
						<p style="font-size: 11px; color:#bfbfbf; margin: 0; padding: 0;font-family: Helvetica, Arial, sans-serif;">You're receiving this newsletter because you bought widgets from us. </p>
						<p style="font-size: 11px; color:#bfbfbf; margin: 0 0 10px 0; padding: 0;font-family: Helvetica, Arial, sans-serif;">Having trouble reading this? <webversion style="color: #0fa2e6; text-decoration: none;">View it in your browser</webversion>. Not interested anymore? <unsubscribe style="color: #0fa2e6; text-decoration: none;">Unsubscribe</unsubscribe> Instantly.</p>
					</td>
			      </tr>
				  <tr> 
				</table><!-- footer-->
		  	</td>
		</tr>
    </table>
  </body>
</html>