{% extends 'base.html' %}

{% block body_class %}about{% endblock %}

{% block content %}
    <div class="clearfix"></div>
    <div class="img-wrapper">
    <img src="{{ STATIC_URL }}images/otr.jpg" />
    </div>
<p>Cincinnati is a city well known for being the stomping grounds of some of the nations biggest brands, home to several major universities and locals with an intense love of their hometown. These are also just a few reasons why startups can flourish in Cincinnati.</p>
<p>Proof can be found in the numbers, it’s no wonder that The Brandery, located right on Vine St. in Over-the-Rhine, is ranked in the <strong>top ten</strong> accelerators in the nation. CincyTech, a major funder for seed-stage companies has invested more than <strong>11 million dollars</strong> into <strong>32 portfolio companies</strong> with the goal of keeping businesses in Southwest Ohio. Startup Bus stopped in only <strong>11 cities</strong> this year – including Cincinnati – to pick up our best developers, designers and marketers, sending them speeding down to SXSWi, with the goal of launching their own startup in 36 hours. As for the future, <strong>three of the top 25</strong> entrepreneurship programs in the country call Cincinnati home, so there’s sure to be no shortage of talent.</p>
<p>With a movement happening as fast and furious as this, Startup Cincy aims to be a resource for all things startup related in Cincinnati.</p>
<ul>
    <li>Looking to meet-up with fellow Ruby developers but aren’t sure where to go?</li>
    <li>Interested in using your design skills to grow a startup?</li>
    <li>Want to know when The Brandery is accepting applications for their next class?</li>
</ul>
{% endblock %}