{% extends 'base.html' %}

{% block content %}
<div class="sidebar">
    <div class="detail-logo">
        <a href="{{ startup.get_permalink }}">
            {% if startup.logo %}
                <img src="{{ startup.logo.url }}" />
            {% else %}
                <img src="http://placekitten.com/150/90" />
            {% endif %}
        </a>
    </div>
    {% if startup.founded %}
    <div class="detail founded">
        Founded in {{ startup.founded }}
    </div>
    {% endif %}
    {% if startup.employees %}
        <div class="detail employees">
            {{ startup.employees }} Employees
        </div>
    {% endif %}
    {% if startup.homepage %}
        <div class="detail homepage">
            <a href="{{ startup.homepage }}">Website</a>
        </div>
    {% endif %}
    {% if startup.phone or startup.twitter or startup.email %}
    <div class="contact-info">
    <h3>Contact Info</h3>
    {% endif %}
    {% if startup.phone %}
        <div class="detail phone">
            Tel: {{ startup.phone }}
        </div>
    {% endif %}
    {% if startup.twitter %}
        <div class="detail twitter">
            <a href="http://twitter.com/{{ startup.twitter }}">@{{ startup.twitter }}</a>
        </div>
    {% endif %}
    {% if startup.email %}
        <div class="detail email">
            <a href="mailto:{{ startup.email }}">Email</a>
        </div>
    {% endif %}
    {% if startup.phone or startup.twitter or startup.email %}
    </div>
    {% endif %}
    {% if startup.blog %}
        <div class="detail blog">
            <a href="{{ startup.blog }}">Blog</a>
        </div>
    {% endif %}
    {% if people %}
    <div class="key-people">
    <h3>People</h3>
    {% for p in people %}
        <div class="detail people">
            <span class="name">{{ p.name }}</span>
            <span class="title">{{ p.title }}</span>
        </div>
    {% endfor %}
    </div>
    {% endif %}
</div>
<div class="startup-detail">
    <h2>{{ startup.name }}</h2>
    {{ startup.overview|safe }}
    <div class="crunchbase-link">
        <a href="{{ startup.crunchbase_url }}">View on Crunchbase</a>
    </div>
</div>
<div class="clearfix"></div>
{% endblock %}