{% extends 'base.html' %}

{% block body_class %}home{% endblock %}

{% block content %}
<div class="slider" id="homepage-slider">
    <div class="slides">
        <div class="slide active" id="slide-1">
            <img src="{{ STATIC_URL }}banners/brandery-banner.jpg" />
            <div class="slide-description">
                <h2>Brandery Applications</h2>
                <p>Brandery Applications are now open! Apply before May 1st for the third annual Brandery Accelerator class.</p>
            </div>
        </div>
        <div class="slide" id="slide-2">
            <img src="{{ STATIC_URL }}banners/drinkup-banner.jpg" />
            <div class="slide-description">
                <h2>Web/Tech Drinkup</h2>
                <p>This new meetup is for anyone interested in Digital in Cincinnati.</p>
            </div>
        </div>
        <div class="slide" id="slide-3">
            <img src="{{ STATIC_URL }}banners/qcmerge-banner.jpg" />
            <div class="slide-description">
                <h2>QC Merge</h2>
                <p>This exciting conference combines designers and developers for two days.</p>
            </div>
        </div>
    </div>
    <div class="slider-controls">
        <ul>
            <li class="active">
                <a class="red" href="#" data-for="slide-1">&nbsp;</a>
            </li>
            <li>
                <a class="orange" href="#" data-for="slide-2">&nbsp;</a>
            </li>
            <li>
                <a class="blue" href="#" data-for="slide-3">&nbsp;</a>
            </li>
        </ul>
    </div>
</div>
<h1>Exciting Headline?</h1>
<div class="two-column">
    <div class="column">
        <p>There has never been a better time to start a company in Cincinnati. With one of the nation's <a target="_blank" href="http://brandery.org">Top Ten Accelerators</a> located in Over-the-Rhine, Fortune 500 companies in our front yard and huge opportunities for investment, Cincinnati is quickly becoming <em>the</em> tech hub of the Midwest.</p>
    </div>
    <div class="column second">
        <p>Don't let developers write copy.</p>
    </div>
</div>
    
<div class="clearfix"></div>
    
<div class="divider"></div>
{% endblock %}