/* HTML5 ✰ Boilerplate
 * ==|== normalize ==========================================================
 */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; }
body, button, input, select, textarea { font-family: "Arial",sans-serif; color: #464646; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

/* Slider styles */
.slider { width: 690px; height: 210px; position: relative; }
.slider .slides .slide { position: absolute; display: none;}
.slider .slides .active { display: block; }
.slider .slide-description { position: absolute; top: 0; left: 0; color: #FFFFFF; width: 160px; padding: 10px 20px; background-color: rgba(0,0,0,0.5); height: 190px;}
.slider .slider-controls { width: 52px; margin: 0 auto; text-align: center; }
.slider .slider-controls ul { position: absolute; top: 220px; list-style: none; padding: 0; margin: 0;}
.slider .slider-controls ul li { float: left; }
.slider .slider-controls ul li a { border: 1px solid #000000; border-radius: 5px; display: block; background: #000; width: 5px; height: 5px; margin: 0 5px;}
.slider .slider-controls ul li a.red {border-color: #ed1c24; background: #ed1c24;}
.slider .slider-controls ul li a.orange {border-color: #fcb040; background: #fcb040;}
.slider .slider-controls ul li a.blue {border-color: #00aeef; background: #00aeef;}
.slider .slider-controls ul li.active a { background: #FFFFFF; }

/* Social Media Icons */
.sm-icon { width: 36px; height: 32px; opacity: 0.4; float: left; background: url(../images/sm_icons.png) no-repeat; background-position: 0 0; display: block; text-indent: -9999em;}
.sm-icon:hover { opacity: 1; }
.facebook { background-position: -40px -33px; }
.facebook:hover { background-position: -40px 0; }
.twitter { background-position: -90px -33px; }
.twitter:hover { background-position: -90px 0; }

/* Events styling */
.event-calendar { background: url(../images/calendar_blank_small.png) no-repeat; width: 61px; height: 80px; position: relative; float: left;}
.event-calendar .month { font-size: 11px; display:block; text-transform: uppercase; color: #ddd2c9; position: absolute; top: 13px; left: 19px; }
.event-calendar .day { font-size: 29px; display: block; color: #464647; position: absolute; top: 27px; left: 14px; }
.event-calendar .time { font-size: 12px; position: absolute; top: 65px; width: 61px; text-align: center; }

.event-details { float: left; width: 255px; padding: 0 7px; }
.event-details h2 { font-size: 16px; padding: 0; margin: 0; color: #ed1c24; }
.event-details .event-host { font-size: 14px; padding: 0; margin: 0; }

.featured-calendar { background: url(../images/calendar_blank.png) no-repeat; background-size: 85px auto; width: 85px; height: 110px; position: relative; float: left;}
.featured-calendar .month { font-size: 16px; display: block; text-transform: uppercase; color: #ddd2c9; position: absolute; top: 18px; left: 25px;}
.featured-calendar .day { font-size: 43px; display: block; color: #464647; position: absolute; top: 37px; left: 17px; }
.featured-calendar .time { font-size: 19px; position: absolute; top: 90px; width: 85px; text-align: center; }

.featured-details { float: left; width: 500px; padding: 0 15px; }
.featured-details h2 { font-size: 22px; padding: 0; margin: 0; color: #ed1c24; }
.featured-details .event-host { font-size: 14px; padding: 0; margin: 0; }

.event { height: 165px; }
.featured-event { height: 140px; }
.featured-events { height: 150px; background: #f4f4f4; padding: 15px; border: 3px solid #fcb040; border-bottom: none; width: 600px !important; margin: 0 auto !important; }
.featured-events .slider-controls ul { top: 185px; }
.featured-events-wrapper { height: 183px; border-bottom: #a1a1a1 2px solid; display:block; margin: 20px 0 50px 0;}

.spacer { margin: 5px 0;}

.featured-details h2 a, .event-details h2 a { color: #ed1c24 !important;}
.featured-details h2 a:hover, .event-details h2 a:hover { color: #42CEF6 !important;}

/* Startup Styles */
.startups { width: 720px; margin: 0 auto; position: relative; }
.startup { width: 240px; float: left; height: 170px; text-align: center; margin-top: 20px;}
.startup .logo-wrapper { height: 110px; width: 150px; margin: 10px auto; }
.startup .startup-logo { height: 110px; width: 150px; display: table-cell; text-align: center; vertical-align: middle; }
.startup .startup-logo * { vertical-align: middle;}
/*\*//*/
.startup .startup-logo {
    display: block;
}
.startup .startup-logo span {
    display: inline-block;
    height: 100%;
    width: 1px;
}
/**/
.startup h3 { margin: 0;}
.startup .founded { font-style: italic; }
.startups .divider {position: absolute; left: 150px; width: 430px; }

.event-list { position: relative;}
.event-list .add { top: -40px; }

.job-board .add { top: -10px;}

.add { background: url(../images/plus-button.png) no-repeat; height: 24px; color: #464646; width: 115px; position: absolute; top: 10px; right: 0; padding: 4px 0 0 28px;}

#main .add a, #main .add a:visited, #main .add a:active { color: #464646; }

.sidebar { width: 160px; padding: 0 20px; float: left; }
.startup-detail { width: 530px; float: left; position: relative; padding-bottom: 30px;}
.detail-logo { width: 150px; margin: 10px auto; }

.sidebar .detail { margin: 5px 0;}
.sidebar .founded { font-style: italic;}
.sidebar h3 {margin: 5px 0; }
.sidebar .contact-info {margin: 30px 0;}

.people .name { font-weight: bold; display: block;}
.people .title { font-style: italic; display: block;}

.crunchbase-link {position: absolute; right: 0; bottom: 0; }

/* Jobs styles */
.orange-white { background: #fcb040; color: #fff; }
.orange-white h2 {color: #fff;}

.job-board { width: 510px; float: left; position: relative; padding: 0px 0 30px 20px;}
.job {padding: 10px 20px; border-bottom: 1px solid #a1a1a1; }
.job.last {border: none;}
.job-company { font-style: italic;}
.job h3 {padding: 0; margin: 0;}
.job h3 a { color: #ed1c24 !important;}
.job-list-logo { height: 50px; width: 80px; float: left;}
.job-list-logo img { height: 40px; max-width: 80px; margin: 5px auto; }
.job-details { height: 50px; float: left; margin-left: 20px; }

.job-detail { width: 530px; float: left; position: relative; padding-bottom: 30px;}
.job-detail h2 { font-size: 22px; }
.job-logo { width: 150px; margin: 10px auto; }
.job-logo img { width: 150px;}

.company-info, .posting-info { margin: 20px 0;}
.posting-info .updated {font-style: italic;}
#apply-button { display: block; width: 110px; padding: 15px 20px; background: #fcb040; border-radius: 10px; color: #ffffff !important; text-align: center; font-weight: bold; font-size: 16px;}

/* Main styles */
#container { background: url(../images/bg.png) repeat-x; }
div.logo { width: 250px; margin: 0 auto; padding: 30px 0; }


nav { background: url(../images/nav_bg.png) repeat-x; height: 52px; }
nav ul { list-style: none; width: 475px; margin: 0 auto; }
nav ul li { float: left; text-align: center; }
nav ul li a { display: block; padding: 18px 25px 10px 25px; font-size: 17px; line-height: 17px; height: 50px; text-transform: uppercase; }
nav ul li a:active, nav ul li a:visited, nav ul li a, nav ul li a:hover { color: #FFFFFF; text-decoration: none;}

.img-wrapper {width: 690px; margin: 0 auto;}

#main { width: 730px; margin: 0 auto; }
#main a, #main a:visited, #main a:active { color: #42cef6; text-decoration: none; }

div.slider { width: 690px; margin: 40px auto; }

body.home #main div.two-column h2 { color: #ed1c24; font-size: 35px; line-height: 30px; font-weight: 100; margin: 0; }
h1 { color: #ed1c24; font-size: 53px; font-weight: 100; margin: 0; }
#main div.two-column { width: 690px; margin: 10px auto; }
#main div.two-column div.column { width: 330px; float: left; }
#main div.two-column div.column.second { margin-left: 30px; }

.twitter { height: 300px; padding: 20px 0 0 0; }
.twtr-doc { margin: 0 auto 20px auto; }

div.divider { height: 0px; width: 730px; border-top: 2px solid #EDEDED; border-bottom: 4px solid #e1e1e1; }

footer { background: #ed1c24; }
.footer-content { display: block; width: 690px; margin: 30px auto 0 auto; padding: 30px 0; height: 40px; color: #FFFFFF; position: relative;}
.footer-content p { text-align: center; width: 100%; clear: both; padding-top: 10px;}
.social { width: 74px; margin: 0 auto; }


/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* ==|== print styles ======================================================= */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
