{% extends 'base.html' %}

{% block content %}
<div class="sidebar orange-white">
    <h2>Startup Jobs</h2>
    <p>These are current job openings and internships in the Cincinnati startup area. Not ready to start your own company just yet? Well check out these opportunities to get you started.</p>
</div>
<div class="job-board">
    <div class="jobs">
        {% for j in jobs %}
        <div class="job">
            {{ j.title }} at {{ j.company }}
        </div>
        {% endfor %}
    </div>
</div>
    <div class="clearfix"></div>
{% endblock %}

